.list-item a {
    color: black;
    text-decoration: none;
    margin: 0px 20px;
}

a {
    text-decoration: none;
}

body {
    background-color: #f8f9fa;
}

.card {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    border: 1px solid #e0e0e0;
}